<<<<<<< HEAD
@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(v1/ea8FacM9Wef3EJPWRrHjgE4B6CnlZxHVDv79oQ.woff2) format('woff2');
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(v1/ea8IacM9Wef3EJPWRrHjgE4B6CnlZxHVBg3etBD7TA.woff2) format('woff2');
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(v1/ea8IacM9Wef3EJPWRrHjgE4B6CnlZxHVBkXYtBD7TA.woff2) format('woff2');
}